/* Bütün tarayýcýlarda sitemizin sorunsuz görünebilmesi için tüm etiketlerin varsayýlan özelliklerini sýfýrladýk.*/
:focus {
    outline: 0;
}
/* float verdiðimiz nesnelerden sonra gelen nesnelerin konumu bozmamasý için bunu ekliyoruz.*/
.clear {
    *zoom: 1;
}

    .clear:after, clear:before {
        content: " ";
        display: table;
    }

    .clear:after {
        clear: both;
    }

a, abbr, acronym, address, article, aside, b, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, samp, section, small, span, strike, strong, sub, sup, tfoot, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

table, tbody, td, thread, tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none;
    }

a, ins {
    text-decoration: none;
}

img {
    -ms-interpolation-mode: bicubic;
}

del {
    text-decoration: line-through;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}
